.price {
    padding-left: 8%;
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    box-sizing: border-box;
}

.price .button-info {
    border: none;
    width: 6vw;
    height: 2vw;
    border-radius: 3px;
    font-size: 1vw;
}

.price .cont-price {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cont-price .price-one {
    text-decoration: line-through;
    font-size: 1.5vw;
}

.cont-price .price-two {
    text-shadow: rgba(204, 204, 202, 0.541) 1px 0 10px;
    font-size: 2vw;
}

.container-principal header {
    width: 100%;
    height: auto;
    z-index: 10;
}

.container-principal header figure {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 30vw;
    overflow: hidden;
}

.container-principal header figure .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 19%;
    background-color: #1b014d;
    clip-path: polygon(0 0, 100% 100%, 0% 110%, 0% 100%);
}

.container-principal header figure .text-img-banner {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    left: 100px;
    width: 30%;
    font-family: FuenteNVS2;
}

.text-img-banner .img-left{
    width: 30vw;
    padding-right: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-img-banner span {
    font-size: 1vw;
}

.text-img-banner .price .button-info {
    background-color: #014d11;
    cursor: pointer;
}

.text-img-banner .price {
    padding-left: 0;
}

.cont-price .price-one {
    color: rgba(255, 255, 255, 0.555);
}